body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1;
  font-family: "Open Sans", sans-serif; }

h2 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  line-height: 3em;
  font-weight: 400;
  white-space: nowrap;
  position: relative; }
  h2:first-child {
    color: #212121;
    margin: 1em auto 0 auto; }
    h2:first-child:after {
      position: absolute;
      top: 2.8em;
      left: 47.5%;
      margin: 0 auto;
      width: 5%;
      border-bottom: 1px solid #ff8b38;
      content: ""; }

section {
  width: 100%;
  display: block; }
  section .head-anno {
    text-align: center;
    font-size: 1em;
    line-height: 1.3em;
    color: #86878b; }
  section .stylish {
    width: 100%;
    height: 325px;
    display: block;
    background: url(../images/bg.jpg) no-repeat top; }
    section .stylish h2 {
      color: #fff;
      margin: 2em auto 0 auto; }
      section .stylish h2:after {
        position: absolute;
        top: 2.8em;
        left: 47.5%;
        margin: 0 auto;
        width: 5%;
        border-bottom: 1px solid #fff;
        content: ""; }
    section .stylish .head-anno {
      color: #fff; }
  section .button {
    width: 15%;
    display: block;
    margin: 4em auto 4em auto;
    padding: 1em 0;
    cursor: pointer;
    border: 2px solid #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 1em;
    color: #fff; }
    section .button:hover {
      border-color: #ff5105;
      color: #ff5105; }

.customers {
  margin: 3% auto 0 auto;
  width: 80%;
  color: #86878b; }
  .customers li {
    display: inline-block;
    list-style: none;
    width: 33%; }
    .customers li .bubble {
      display: block;
      border-radius: 3px 3px;
      position: relative;
      width: 70%;
      height: auto;
      padding: 1.6em 1.2em;
      margin: 0 0 30px 0;
      background: #f5f5f5;
      font-size: 95%; }
      .customers li .bubble:after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 20px 15px 0;
        border-color: #f5f5f5 transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -20px;
        left: 20px; }
    .customers li img {
      border-radius: 50% 50%;
      display: inline-block;
      width: 70px; }
    .customers li .person {
      display: inline-block;
      vertical-align: top;
      margin: 1em 0 0 1em; }
      .customers li .person strong {
        color: #333333; }
      .customers li .person p {
        line-height: 0; }

/*# sourceMappingURL=style.css.map */
