
@mixin h2-style($color) {
	color: $color;
}
@mixin h2-style-position($mrg) {
	margin: $mrg auto 0 auto;
}
@mixin h2-style-underline($linecolor) {
	position: absolute;
	top: 2.8em;
	left: 47.5%;
	margin: 0 auto;
	width: 5%;
	border-bottom: 1px solid $linecolor;
	content: "";
}
