@import "_variables.sass"
@import "_mixins"
 
body
	margin: 0
	padding: 0
	border: 0
	outline: 0
	font-size: 100%
	vertical-align: baseline
	background: transparent
	line-height: 1
	font-family: 'Open Sans', sans-serif

h2
	font-family: 'Raleway', sans-serif
	text-transform: uppercase
	text-align: center
	font-size: 2em
	line-height: 3em
	font-weight: 400
	white-space: nowrap
	position: relative
	
	&:first-child
		@include h2-style($headcolor)
		@include h2-style-position(1em)

		&:after
			@include h2-style-underline(#ff8b38)
			
section
	width: 100%
	display: block

	.head-anno
		text-align: center
		font-size: 1em
		line-height: 1.3em
		color: $textcolor

	.stylish
		width: 100%
		height: 325px
		display: block
		background: url(../images/bg.jpg) no-repeat top
		
		h2
			@include h2-style($whited-color)
			@include h2-style-position(2em)

			&:after
				@include h2-style-underline($whited-color)
		
		.head-anno
			color: $whited-color
			
	.button
		width: 15%
		display: block
		margin: 4em auto 4em auto
		padding: 1em 0
		cursor: pointer
		border: 2px solid $whited-color
		white-space: nowrap	
		text-align: center
		font-size: 1em
		color: $whited-color
		
		&:hover 
			border-color: $selected-color
			color: $selected-color
		
.customers
	margin: 3% auto 0 auto
	width: 80%
	color: $textcolor
	
	li	
		display: inline-block
		list-style: none
		width: 33%
	
		.bubble
			display: block
			border-radius: 3px 3px
			position: relative
			width: 70%
			height: auto
			padding: 1.6em 1.2em
			margin: 0 0 30px 0
			background: #f5f5f5
			font-size: 95%
			
			&:after
				content: ''
				position: absolute
				border-style: solid
				border-width: 20px 15px 0
				border-color: #f5f5f5 transparent
				display: block
				width: 0
				z-index: 1
				bottom: -20px
				left: 20px
		
		img
			border-radius: 50% 50%
			display: inline-block
			width: 70px
			
		.person
			display: inline-block
			vertical-align: top
			margin: 1em 0 0 1em
			
			strong
				color: $contrast-color
			p
				line-height: 0